/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../Imagenes/fondo.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    color: #fff; /* Letras blancas por defecto en todo el cuerpo */
}

/* Encabezado */
header {
    background-color: #404040; /* Azul */
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.titles {
    text-align: center;
}

.titles h2 {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 5px 0; /* Añade espacio entre los títulos */
}

nav img.logo {
    max-height: 60px; /* Ajusta según sea necesario */
    margin: 0 10px; /* Margen entre las imágenes */
}

/* Contenedor principal */
.container {
    max-width: 800px; /* Ajusta según sea necesario */
    margin: 0 auto; /* Centra el contenedor principal en la página */
}

/* Estilos para Unidad 1 y Unidad 2 */
aside {
    width: 20%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    text-align: center; /* Centra el texto horizontalmente en el aside */
    margin: 0 auto; /* Centra el aside en el contenedor principal */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

aside a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

aside a:hover {
    color: #007bff;
}

/* Fondo negro para el contenido del ejercicio 1 */
#ejercicio1 {
    background-color: #000;
    padding: 20px;
    margin: 20px 0;
}

/* Estilos específicos para el contenido */
p {
    margin: 20px;
    line-height: 1.5;
}
